{% if system_pacman_mirrorlist_server|length > 0 %}
{% for server in pacman_mirrorlist_server %}
Server = {{ server }}
{% endfor %}
{% else %}
Server = https://ftp.halifax.rwth-aachen.de/archlinux/$repo/os/$arch
Server = https://mirror.selfnet.de/archlinux/$repo/os/$arch
Server = https://ftp.agdsn.de/pub/mirrors/archlinux/$repo/os/$arch
Server = https://ftp.spline.inf.fu-berlin.de/mirrors/archlinux/$repo/os/$arch
{% endif %}
