[init]
	defaultBranch = main

[user]
	name = {{ dots_git_username }}
	email = {{ dots_git_user_mail }}

[help]
	autoCorrect = 10

[credential "https://git-codecommit.eu-central-1.amazonaws.com"]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
